{% extends 'abodes/base.html' %}
{% block content %}
<div class="container text-center" id="container">
  <div class="col-lg-8 mr-auto ml-auto" id="column">
    <h1>Post your humble abode!</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row" style="padding-top: 20px; padding-right: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ form.price.label }} {{ form.price }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-right: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ form.street_address.label }} {{ form.street_address }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-right: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ form.city.label }} {{ form.city }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-right: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ form.state.label }} {{ form.state }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-right: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ form.zip_code.label }} {{ form.zip_code }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ form.bedrooms.label }} {{ form.bedrooms }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ form.bathrooms.label }}
          <select name="bathrooms">
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">4</option>
            <option value="5.5">4.5</option>
          </select>
        </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ form.SqFoot.label }} {{ form.SqFoot }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ form.image.label }} {{ form.image }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-left: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          Confirm {{ form.password2 }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          <button type="submit" name="button">Post Abode</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
