{% extends 'abodes/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row">
    <h2 style="padding-right: 5px;">{{ abode.address.street_address }}</h2> <h2>•</h2>
    <h2 style="padding-left: 5px; padding-right: 5px;">{{ abode.address.city }},</h2><h2>{{ abode.address.state }}</h2>
    <h2 style="padding-left: 5px; padding-right: 5px;">{{ abode.address.zip_code }}</h2>
    <h2 style="padding-left: 5px;" >${{ abode.price }}</h2>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <img src="{{ abode.image.url }}" class="img-fluid mb-2">
    </div>
    <div class="col-lg-4 col-md-6">
      <p>Bedrooms: {{ abode.bedrooms }}</p>
      <p>Bathrooms: {{ abode.bathrooms }}</p>
      <p>Square feet: {{ abode.SqFoot }}</p>
      {% if error %}
        <p style="color:red;">{{ error }}</p>
      {% else %}
        <a href="{% url 'interested' abode.id %}" class="btn btn-success">Interested</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
