{% extends 'abodes/base.html' %}
{% block content %}
<div class="container text-center" id="container">
  <div class="col-lg-8 mr-auto ml-auto" id="column">
    <h1>Edit your Abode</h1>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row" style="padding-top: 20px; padding-right: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ AbodeForm.price.label }} {{ AbodeForm.price }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-right: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ AddressForm.street_address.label }} {{ AddressForm.street_address }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-right: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ AddressForm.city.label }} {{ AddressForm.city }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-right: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ AddressForm.state.label }} {{ AddressForm.state }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-right: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ AddressForm.zip_code.label }} {{ AddressForm.zip_code }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ AbodeForm.bedrooms.label }} {{ AbodeForm.bedrooms }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ AbodeForm.bathrooms.label }}
          <select name="bathrooms">
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">4</option>
            <option value="5.5">4.5</option>
          </select>
        </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ AbodeForm.SqFoot.label }} {{ AbodeForm.SqFoot }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          {{ AbodeForm.image.label }} {{ AbodeForm.image }}
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-bottom: 10px;">
        <div class="col-lg-8 mr-auto ml-auto"">
          <button type="submit" name="button" class="btn btn-primary" >Save</button>
        </div>
      </div>
    </form>
    <a href="{% url 'delete_abode' abode.id %}" class="btn btn-danger">Delete Abode</a>
  </div>
</div>

{% endblock %}
